# SPDX-License-Identifier: MIT
CONFIG_BOARD_GAMMA_RIGHT=y
CONFIG_ZMK_KEYBOARD_NAME="Gamma"

CONFIG_BT_CTLR_TX_PWR_PLUS_8=y

CONFIG_BT_CTLR_OPTIMIZE_FOR_SPEED=y
CONFIG_BT_CTLR_XTAL_ADVANCED=y
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=n
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
# Enable 32kHz crystal. Datasheet for NX3215SA says it's +-20 ppm.
# https://www.ndk.com/images/products/catalog/c_NX3215SA_e.pdf
CONFIG_CLOCK_CONTROL_NRF_K32SRC_20PPM=y

CONFIG_ZMK_SLEEP=n
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_ZMK_SPLIT=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_ARM_MPU=y
CONFIG_PINCTRL=y
CONFIG_GPIO=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y

CONFIG_ZMK_BLE=y
CONFIG_ZMK_USB=y

CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=2
CONFIG_BT_BAS=y
CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=n
CONFIG_ZMK_USB_LOGGING=n

CONFIG_ZMK_BLE_EXPERIMENTAL_FEATURES=y
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y
CONFIG_ZMK_BLE_EXPERIMENTAL_SEC=y

